.projectToDo {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #999;
}

.loading-spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.new-todo-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
    margin: 0 15px;
    color: #000;
}

.submit-btn {
    padding: 5px 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}