.projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.projectCardContainer {
    border-bottom: 2px solid #999;
    margin: 10px;
    width: 100%;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.projectCardContainer > button {
    margin-right: 10px;
}