.generatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--bg-gradient-dark);

    form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .form-section {
            width: clamp(250px, 350px, 20vw);
            padding: 1rem;
            margin-right: 2rem;
        }

        .form-section:not(:nth-child(2)) {
            flex: 1;
        }

        .checks {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;

            .custom-checkbox {
                padding-right: 30px;

                input {
                    margin-right: 10px;
                }
            }

            .custom-checkbox:nth-child(1) {
                padding: 0 0px
            }
        }
    }
}

.generator-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.pw-form {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin: 0 auto;
    }
}

.payDates {
    display: flex;
    flex-wrap: wrap;
    width: clamp(500px, 700px, 50vw);
    flex-basis: 700px;
}

.invoiceSection,
.paySection {
    flex-basis: 0;
}