@use '../util' as util;


.grid {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: util.rem(40);
  // max-width: 1000px;
  width: min(100% - util.rem(40), util.rem(1000));
  margin-inline: auto;

  @include util.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: util.rem(40);
  }

  &__main {
    background-color: hsl(240, 96%, 32%);

    @include util.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include util.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }
  }

  &__sidebar {

    @include util.breakpoint-down(medium) {
      text-align: center;
    }

    @include util.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__widget {
    padding: util.rem(16);


  }
}