.WGLogo {
  height: clamp(60px, 15vh, 6vw);
  margin-right: 2vw;
}

.layout--container__navbar {
  display: flex;
  // place logo on right
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  padding: 1vw;
  z-index: 10;
  width: 80vw;
}

// Background to protect Header on scroll
.wrapper--layoutContainer {
  margin: 0;
  position: fixed;
  width: 100%;
  // fixing fixed width gradient with direction bottom to top
  background: linear-gradient(0deg, transparent, black 10%);
  z-index: 3;
  height: 15vh;
  overflow-x: visible;
  border: 0;
}

.layout--container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0 40px;
}

//smaller screens
@media screen and (max-width: 600px) {
  .layout--container {
    padding: 0 20px;
  }
}

.layout--container__footer {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: space-between;
}

.wrapper--main-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.wrapper--main-footer main {
  min-height: 60vh;
}

.home-header {
  padding: 30px;
}

.feature {
  padding: 30px;
  display: flex;
}

.feature-img {
  height: 200px;
  width: 500px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-img.team {
  background-image: url(../assets/images/team.png);
}

.feature-img.projects {
  background-image: url(../assets/images/project.png);
}

.feature-img.generate {
  background-image: url(../assets/images/invoice.png);
}

.feature h2 {
  width: fit-content;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 5px 0;
}

.feature:nth-of-type(2) {
  text-align: right;

  h2 {
    margin-left: auto;
  }
}

//small screens
@media screen and (max-width: 600px) {
  .feature {
    padding: 10px;

    span {
      display: none;
    }
  }

  .home-header {
    padding: 10px;

    h1 {
      margin-bottom: 5px;
    }

    h2 {
      margin-bottom: 5px;
      font-size: 1em;
    }
  }
}

.socialLinks {
  display: flex;
  justify-content: space-around;
  min-width: 20vw;
  align-items: center;
}

.copytxt {
  display: flex;
  flex-direction: column;
  justify-content: end;
}