// .header {
//   position: sticky;
//   top: 1vh;
// }

.layout--container__navbar {
  position: fixed;
  top: 1vh;
}

.layout--container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
}

.layout--container__footer {
  margin-top: auto;
  padding: 1rem;
}

.wrapper--main-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}