@use '../globals' as glo;

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 80vw;
  margin-top: 10px;
}

.navbar a {
  margin: 0;
  padding: 0;
  border: none;

  color: var(--text-color);
}