@use 'fonts' as f;
@use 'colors' as col;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  width: 100%;
  margin: 0;
}

:root {
  padding: 0;
  font-family: f.$font;
  background-color: var(--background-color);
  color: var(--text-color);
  background: url(../../../Design/robert-zunikoff-xZzRMSAe3I4-unsplash.webp);
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  background-color: black;
  color: white;
  border: 0;
  margin-right: 2rem;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.layout--container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
}