:root {
  --background-color: #1c1c1c;
  --text-color: #FFF0DE;
  --highlight-color: #FFB800;
  --secondary-color: #ff00ae;
  --border-color: darken(#FFB800, 40%);
  --bg-gradient-dark: rgba(0, 0, 0, 0.7);;
}