@use '../util' as util;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  mix-blend-mode: luminosity;
  text-shadow: 2px 2px 4px black;
  // background-color: #00000035;
}

h1 {
  font-size: clamp(util.rem(28), util.rem(28) + 3vw, util.rem(60));

}

h2 {
  // font-size: clamp(22px, 14px + 2vw, 45px);
  font-size: clamp(util.rem(22), util.rem(14) + 2vw, util.rem(40));
}

p {
  margin-top: 0;
  font-size: util.rem(16);
  mix-blend-mode: luminosity;
  text-shadow: 2px 2px 4px black;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p.error {
  background-color: red;
  padding: 20px;
  margin-top: 10px;
}

// Card typography
// .client {
//   font-size: 2rem;
//   font-weight: bold;
// }

// .location {
//   font-size: 0.8rem;
//   color: #999;
// }

// .name {
//   font-size: 1.2rem;
// }

// .cost {
//   font-size: 1.2rem;
//   font-weight: bold;
// }